@model MoneyManager.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />

@using (Html.BeginForm())
{
    <div>
        @Html.HiddenFor(model => model.UserId)

        <div>
            <label asp-for="Name"></label>
            <div>
                <input asp-for="Name" value="@Model.Name" />
            </div>
        </div>

        <div>
            <label asp-for="Email"></label>
            <div>
                <input asp-for="Email" value="@Model.Email" />
            </div>
        </div>

        <div>
            <input type="submit" value="Save" />
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
