<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Money Manager</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index">Money Manager</a>
                <div>
                    <ul>
                        <li><a asp-area="" asp-controller="User" asp-action="Index">Users</a></li>
                        <li><a asp-area="" asp-controller="Category" asp-action="Index">Categories</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
